@import "tailwindcss";

@theme {
  --color-primary-50: #fef2f2;
  --color-primary-100: #fee2e2;
  --color-primary-200: #fecaca;
  --color-primary-300: #fca5a5;
  --color-primary-400: #f87171;
  --color-primary-500: #ef4343;
  --color-primary-600: #dc2626;
  --color-primary-700: #b91c1c;
  --color-primary-800: #991b1b;
  --color-primary-950: #450a0a;

  --color-dashboard-primary: #ef4343;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221010;
  --color-surface: #ffffff;
  --color-border-soft: #f3f4f6;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/80 backdrop-blur-lg border border-slate-200/50 shadow-xl;
  }
  .glass-dark {
    @apply bg-slate-900/40 backdrop-blur-lg border border-white/10 shadow-xl;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-primary-600 to-primary-400;
  }
}